---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Sonic Origins Pocket Edition | Play & Download | Sonic Fan Games";
const pageDescription = "Sonic Origins Pocket Edition - Download and play free Sonic fan games.";
const pageCanonical = "https://sonic-fangames.com/origins-pocket-edition/";
const pageLang = "en";
const pageHreflangs = [];
const pageHeading = "Sonic Origins Pocket Edition";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonicalUrl={pageCanonical}
  lang={pageLang}
  hreflangs={pageHreflangs}
  heading={pageHeading}
>
<Fragment set:html={`Sonic Origins Pocket Edition brings a fresh yet nostalgic experience to fans of the classic Sonic games.
<div class="game-container">
<div class="border-white top"></div>
<div class="border-white bottom"></div>
<img class="poster-img" src="/wp-content/uploads/2024/05/Sonic-Origins-Pocket-Edition.webp" alt="Sonic Origins Pocket Edition" />
<div class="game-box"><button id="play">Play Sonic Origins Pocket Edition</button></div>
</div>
<h2>Play Sonic Origins Pocket Edition Online Unblocked</h2>
To play Sonic Origins Pocket Edition online, simply click on the "Play Sonic Origins Pocket Edition Online" banner at the top and wait for the player to load. Additionally, you'll need to click inside the player to start the game.
<h2>Download Sonic Origins Pocket Edition</h2>
Next, you can download Sonic Origins Pocket Edition for free on all your devices.

<a href="https://www.mediafire.com/file/smf6ef39nvjjaa7/Sonic+Origins+Pocket+Edition.rar/file" class="su-button" style="background:#1F50EA" target="_blank" rel="nofollow">🎮 Download Sonic Origins Pocket Edition</a>
<h3>About Sonic Origins Pocket Edition</h3>
This work-in-progress fan game promises a thrilling adventure with your favorite characters, unique zones, and a plethora of extras. Let's dive into what this exciting project has to offer.

Navigating through Sonic Origins Pocket Edition is straightforward with its intuitive controls:
<ul>
 	<li>Arrow Keys: Move</li>
 	<li>Z: Jump</li>
 	<li>Super Peel Out: Press Up and the Spin Dash Button</li>
</ul>
These controls ensure that players can easily maneuver through levels, perform iconic moves, and enjoy the fast-paced gameplay that Sonic is known for.

Sonic Origins Pocket Edition is packed with exciting extras that enhance the gaming experience:
<ul>
 	<li>Mobile Compatibility: Play the game on your mobile device for on-the-go fun.</li>
 	<li>Chaos Emeralds and Times Stones: Collect all these items to unlock the Good Ending and face the True Final Boss.</li>
 	<li>Music Button: Access and play the entire OST within the game.</li>
 	<li>Playable Characters: Choose from Sonic, Tails, Knuckles, and Metal Sonic.</li>
 	<li>Deleted Zones and Bosses: Explore zones and face bosses that were previously unseen.</li>
</ul>`} />
</BaseLayout>
