---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Sonic Pocket Runners| Play Online & Download | Sonic FanGames";
const pageDescription = "Sonic Pocket Runners - Download and play free Sonic fan games.";
const pageCanonical = "https://sonic-fangames.com/pocket-runners/";
const pageLang = "en";
const pageHreflangs = [];
const pageHeading = "Sonic Pocket Runners";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonicalUrl={pageCanonical}
  lang={pageLang}
  hreflangs={pageHreflangs}
  heading={pageHeading}
>
<Fragment set:html={`Sonic Pocket Runners: Enjoy one of the best Sonic FanGames for Free in sonic-fangames.com

<div class="game-container">
<div class="border-white top"></div>
<div class="border-white bottom"></div>
<img class="poster-img" src="/wp-content/uploads/2024/05/Sonic-Pocket-Runners-386w.webp" srcset="/wp-content/uploads/2024/05/Sonic-Pocket-Runners-386w.webp 386w, /wp-content/uploads/2024/05/Sonic-Pocket-Runners-690w.webp 690w" sizes="(max-width: 768px) 345px, 386px" fetchpriority="high" alt="Sonic Pocket Runners" style="aspect-ratio: 386 / 217" width="386" height="217" />
<div class="game-box"><button id="play">Play Sonic Pocket Runners</button></div>
</div>
<h2>Play Sonic Pocket Runners Online Unblocked</h2>
To play Sonic Pocket Runners online, simply click on the "Play Sonic Pocket Runners Online" banner at the top and wait for the player to load. Additionally, you'll need to click inside the player to start the game.
<h2>Download Sonic Pocket Runners for Windows</h2>
Next, you can download Sonic Pocket Runners for free on Windows devices.

<a href="https://www.mediafire.com/file/b29n9i6w7ql6nxp/SonicPocketRunnersv0.011.zip/file" class="su-button" style="background:#1F50EA" target="_blank" rel="nofollow">🎮 Download Sonic Pocket Runners for Windows</a>

<h2>Download Sonic Pocket Runners for MacOS</h2>
Next, you can download Sonic Pocket Runners for free on MacOS devices.

<a href="https://www.mediafire.com/file/zx12ap9c4kskduo/SPRMacv0.0001.app.zip/file" class="su-button" style="background:#1F50EA" target="_blank" rel="nofollow">🎮 Download Sonic Pocket Runners for MacOS</a>
<h3>About Sonic Pocket Runners</h3>

Are you ready for a new and exciting platforming adventure? Our latest creation is a small school project made in just five days, but it promises a delightful challenge for gamers of all skill levels. In this game, you'll jump with the Up arrow and navigate through obstacles to reach the end. But that's not all! For those seeking an extra challenge, keep an eye out for the two Red Star Rings hidden throughout the levels. This project is the first venture into game development for our team, using Unity and C+, so while you might encounter a few glitches, we hope you'll enjoy the experience and the effort put into this creation.

`} />
</BaseLayout>
