---
import BaseLayout from '../../../layouts/BaseLayout.astro';
const pageTitle = "Orbinaut Framework: Green Hill Pack Fan Game [Descarregar] 🌀";
const pageDescription = "👉 Mergulha no mundo nostálgico do Orbinaut Framework: Green Hill Pack, um remake meticulosamente elaborado da icónica Green Hill Zone.";
const pageCanonical = "https://sonic-fangames.com/pt/orbinaut-framework-green-hill-pack-baixar/";
const pageLang = "pt";
const pageHreflangs = [];
const pageHeading = "Orbinaut Framework: Green Hill Pack Fan Game";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonicalUrl={pageCanonical}
  lang={pageLang}
  hreflangs={pageHreflangs}
  heading={pageHeading}
>
<Fragment set:html={`<span style="font-weight: 400;"><div class="su-row"><div class="su-column su-column-1-3"></span>

<img class="aligncenter size-full wp-image-108" src="/wp-content/uploads/2024/04/Orbinaut-Framework-Green-Hill-Pack-Fan-Game_Fangame.webp" alt="Orbinaut Framework Green Hill Pack Fan Game_Fangame" width="200" height="200" />

</div><div class="su-column su-column-2-3">

<strong>Merga no nostálgico mundo de Orbinaut Framework: Green Hill Pack, uma recriação meticulosamente elaborada da icônica Green Hill Zone.</strong> Desenvolvido por Triangly usando GameMaker Studio 2, este pacote serve como uma demonstração jogável do Orbinaut Framework, exibindo suas capacidades através de um estágio real de Sonic. Isso não é apenas um jogo de fãs, mas um tributo a um dos níveis mais amados na história dos jogos, agora com recursos aprimorados e jogabilidade expandida.

<span style="font-weight: 400;"></div></div></span>

<span style="font-weight: 400;"><a href="https://sonicfangameshq.com/forums/dl-attach.php?uri=attachments/greenhillrevisited_v1-0-zip.15361/" class="su-button" style="background:#1F50EA" target="_blank" rel="nofollow">🪟 Baixar Orbinaut Framework: Green Hill Pack</a></span>
<table>
<thead>
<tr>
<th><strong>Característica</strong></th>
<th><strong>Dado</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>Desenvolvedor</td>
<td>Triangly</td>
</tr>
<tr>
<td>Framework</td>
<td>Orbinaut Framework usando GameMaker Studio 2</td>
</tr>
<tr>
<td>Zona Apresentada</td>
<td>Green Hill Zone</td>
</tr>
<tr>
<td>Visualizações</td>
<td>16,125</td>
</tr>
<tr>
<td>Última Atualização</td>
<td>24 de janeiro de 2022</td>
</tr>
<tr>
<td>Tamanho do Arquivo</td>
<td>25.6 MB</td>
</tr>
</tbody>
</table>
<h2>Baixar Orbinaut Framework: Green Hill Pack</h2>
<strong>Redescubra o charme de Green Hill Zone com Orbinaut Framework: Green Hill Pack.</strong> Seja você um fã veterano de Sonic ou novo na série, este pacote oferece uma maneira única de experimentar um nível clássico com aprimoramentos modernos. Baixe-o hoje para explorar seus recursos ricos, incluindo vários personagens jogáveis e opções de jogabilidade personalizáveis. Clique no botão de download agora para iniciar sua jornada por esse estágio lindamente reimaginado.
<h3>Características de Orbinaut Framework: Green Hill Pack</h3>
Orbinaut Framework: Green Hill Pack vem repleto de uma variedade de recursos projetados para aprimorar sua experiência de jogo:
<ul>
 	<li><strong>Personagens Jogáveis:</strong> Escolha entre Sonic, Tails e Knuckles, cada um com suas próprias habilidades únicas.</li>
 	<li><strong>Visuais e Áudio Aprimorados:</strong> Desfrute de níveis de cor precisos e simulação de canal DAC para uma experiência sensorial mais rica.</li>
 	<li><strong>Suporte a Controladores:</strong> Total compatibilidade com controladores XInput e DirectInput.</li>
 	<li><strong>Proporções de Tela:</strong> Suporte para proporções de tela 4:3 e 16:9, permitindo uma experiência de visualização versátil.</li>
 	<li><strong>Jogabilidade Personalizável:</strong> Ative vários recursos de jogabilidade para adaptar seu jogo ao seu gosto.</li>
 	<li><strong>Menus Interativos:</strong> Um menu principal personalizado integrado à Tela de Título e um Menu de Pausa semelhante ao Sonic Jam aprimoram a interação do usuário.</li>
 	<li><strong>Integração do Discord:</strong> Inclui suporte ao Discord Rich Presence para compartilhar seu status de jogo com amigos.</li>
</ul>
<center><iframe title="YouTube video player" src="https://www.youtube.com/embed/U9XVlnXE-8U?si=TrFSqFtjA4Honbb8" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></center>
<h4>Instalação e Configuração</h4>
<strong>Para começar com Orbinaut Framework: Green Hill Pack:</strong>
<ol>
 	<li>Baixe o pacote do link fornecido.</li>
 	<li>Extraia os arquivos para o local desejado.</li>
 	<li>Execute o jogo para experimentar a Green Hill Zone como nunca antes, com uma sequência introdutória que define o cenário no seu primeiro início.</li>
</ol>
<strong>Orbinaut Framework: Green Hill Pack é mais do que uma recriação de fãs; é uma demonstração abrangente</strong> de como elementos clássicos de jogos podem ser revitalizados através da tecnologia moderna. Com sua gama de recursos e apelo nostálgico, este pacote é um download obrigatório para fãs de Sonic e jogos de plataforma clássicos. Envolva-se na rica história dos jogos de Sonic enquanto desfruta de aprimoramentos contemporâneos na jogabilidade. Baixe o Green Hill Pack hoje e experimente a evolução da Green Hill Zone através do Orbinaut Framework.`} />
</BaseLayout>
