---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Sonic Adventure 2 But It's Extremely Limited | Play & Download";
const pageDescription = "Sonic Adventure 2 But It's Extremely Limited - Download and play free Sonic fan games.";
const pageCanonical = "https://sonic-fangames.com/adventure-2-but-its-extremely-limited/";
const pageLang = "en";
const pageHreflangs = [];
const pageHeading = "Sonic Adventure 2 But It's Extremely Limited";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonicalUrl={pageCanonical}
  lang={pageLang}
  hreflangs={pageHreflangs}
  heading={pageHeading}
>
<Fragment set:html={`Sonic Adventure 2 But It's Extremely Limited is a fan-made mod of the original Sonic Adventure 2 game, designed to significantly restrict the player's abilities and gameplay options. 
<div class="game-container">
<div class="border-white top"></div>
<div class="border-white bottom"></div>
<img class="poster-img" src="/wp-content/uploads/2024/05/Sonic-Adventure-2-But-Its-Extremely-Limited-386w.webp" srcset="/wp-content/uploads/2024/05/Sonic-Adventure-2-But-Its-Extremely-Limited-386w.webp 386w, /wp-content/uploads/2024/05/Sonic-Adventure-2-But-Its-Extremely-Limited-690w.webp 690w" sizes="(max-width: 768px) 345px, 386px" fetchpriority="high" alt="Sonic Adventure 2 But It's Extremely Limited" style="aspect-ratio: 386 / 217" width="386" height="217" />
<div class="game-box"><button id="play">Play Sonic Adventure 2 But It's Extremely Limited</button></div>
</div>
<h2>Play Sonic Adventure 2 But It's Extremely Limited Online Unblocked</h2>
To play Sonic Adventure 2 But It's Extremely Limited online, simply click on the "Play Sonic Adventure 2 But It's Extremely Limited Online" banner at the top and wait for the player to load. Additionally, you'll need to click inside the player to start the game.
<h2>Download Sonic Adventure 2 But It's Extremely Limited</h2>
Next, you can download Sonic Adventure 2 But It's Extremely Limited for free on all your devices.

<a href="https://www.mediafire.com/file/00apzvtft96qukr/SonicAdventure2LIMITED.exe/file" class="su-button" style="background:#1F50EA" target="_blank" rel="nofollow">🎮 Download Sonic Adventure 2 But It's Extremely Limited</a>
<h3>About Sonic Adventure 2 But It's Extremely Limited</h3>
This mod introduces various limitations, such as reducing character speed, restricting access to certain abilities, or altering level layouts to create a more challenging and often humorous experience. The mod is popular among fans who enjoy unconventional and difficult versions of classic games, as it provides a fresh and amusing twist on the well-loved Sonic Adventure 2. It emphasizes creativity in overcoming new obstacles and offers a unique take on the original game's mechanics.`} />
<script is:inline>
const btnPlay = document.querySelector('#play');
const boxGame = document.querySelector('.game-box');
const containerGame = document.querySelector('.game-container');
const posterImg = document.querySelector('.poster-img');
const codeGame = '<iframe id="game-player" seamless="seamless" scrolling="no" src="https://html-classic.itch.zone/html/5108685/SONIC ADVENTURE 2 LIMITED/index.html" width="960" height="340" allow="autoplay; fullscreen; camera" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>';

btnPlay.addEventListener('click', () => {
    boxGame.remove();
    posterImg.remove();
    containerGame.innerHTML += codeGame;
    const iframeGame = document.querySelector('#game-player');
    iframeGame.height = containerGame.clientHeight;
});
</script>
</BaseLayout>
