---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Super Mario 64 Sonic Edition | Play & Download | Sonic FanGames";
const pageDescription = "Super Mario 64 Sonic Edition - Download and play free Sonic fan games.";
const pageCanonical = "https://sonic-fangames.com/super-mario-64-edition/";
const pageLang = "en";
const pageHreflangs = [];
const pageHeading = "Super Mario 64 Sonic Edition";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonicalUrl={pageCanonical}
  lang={pageLang}
  hreflangs={pageHreflangs}
  heading={pageHeading}
>
<Fragment set:html={`Super Mario 64 Sonic Edition: Enjoy one of the best Sonic FanGames for Free in sonic-fangames.com

<div class="game-container">
<div class="border-white top"></div>
<div class="border-white bottom"></div>
<img class="poster-img" src="/wp-content/uploads/2024/05/Super-Mario-64-Sonic-Edition-386w.webp" srcset="/wp-content/uploads/2024/05/Super-Mario-64-Sonic-Edition-386w.webp 386w, /wp-content/uploads/2024/05/Super-Mario-64-Sonic-Edition-690w.webp 690w" sizes="(max-width: 768px) 345px, 386px" alt="Super Mario 64 Sonic Edition" loading="lazy" width="386" height="223" />
<div class="game-box"><button id="play">Play Super Mario 64 Sonic Edition</button></div>
</div>
<h2>Play Super Mario 64 Sonic Edition Online Unblocked</h2>
To play Super Mario 64 Sonic Edition online, simply click on the "Play Super Mario 64 Sonic Edition Online" banner at the top and wait for the player to load. Additionally, you'll need to click inside the player to start the game.
<h3>About Super Mario 64 Sonic Edition</h3>

Super Mario 64 Sonic Edition allow players to control Sonic the Hedgehog instead of Mario. In addition to changing the character model, the game incorporates elements and mechanics from the Sonic series, such as the ability to run at high speeds and perform the classic "Spin Dash." Levels may also be modified to suit Sonic's abilities, offering a unique experience that blends the worlds and gameplay styles of two of the most iconic video game franchises. This hack is very popular among fans for its creativity and for combining the best of both universes.`} />
</BaseLayout>
