---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Sonic Infinity + [Download & Guide Free] [All Info] 🌪️";
const pageDescription = "👉 Dive into the world of Sonic fan game development with Sonic Infinity+ Demo #2, a cutting-edge expansion of the Sonic Infinity Engine.";
const pageCanonical = "https://sonic-fangames.com/infinity/";
const pageLang = "en";
const pageHreflangs = [];
const pageHeading = "Sonic Infinity +";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonicalUrl={pageCanonical}
  lang={pageLang}
  hreflangs={pageHreflangs}
  heading={pageHeading}
>
<Fragment set:html={`<span style="font-weight: 400;"><div class="su-row"><div class="su-column su-column-1-3"></span>

<img class="aligncenter size-full wp-image-118" src="/wp-content/uploads/2024/04/Sonic-Infinity_Fangame.webp" alt="Sonic Infinity_Fangame" width="200" height="200" />

</div><div class="su-column su-column-2-3">

<strong>Dive into the world of Sonic fan game development with Sonic Infinity+ Demo 2,</strong> a cutting-edge expansion of the Sonic Infinity Engine by Team Lead TheFizzWizz and his talented team including Programmers Vivianite, Hes, and 31Emanual, and Graphics Designer xKindredKinesis. Sonic Infinity+ is designed to build on the foundations of its predecessor, introducing enhancements, fixing previous issues, and offering a more robust framework for creating Sonic fan games. This project, independent from the original Infinity Engine creator, Oban, is powered by Unreal Engine 4 to provide creators an accessible yet powerful tool for game development.

<span style="font-weight: 400;"></div></div></span>

<span style="font-weight: 400;"><a href="https://gamejolt.com/get/build?game=440246&amp;build=1351307" class="su-button" style="background:#1F50EA" target="_blank" rel="nofollow">🪟 Download Sonic Infinity +</a></span>
<table>
<thead>
<tr>
<th><strong>Characteristic</strong></th>
<th><strong>Data</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>Engine</td>
<td>Unreal Engine 4</td>
</tr>
<tr>
<td>Development Team</td>
<td>TheFizzWizz, Vivianite, Hes, 31Emanual, xKindredKinesis</td>
</tr>
<tr>
<td>Game Type</td>
<td>Game Development Framework</td>
</tr>
<tr>
<td>Status</td>
<td>Work in Progress</td>
</tr>
</tbody>
</table>
<h2>Download Sonic Infinity+ Demo 2</h2>
Embark on your game development journey with Sonic Infinity+ Demo #2. <strong>This demo not only showcases the capabilities of the Infinity+ Engine but also serves</strong> as an invitation for budding developers to explore game creation. The framework is tailored to facilitate the development of Sonic fan games by providing essential tools and resources, allowing you to focus on creativity and design. Click the download button now to start experimenting with level designs, gameplay mechanics, and character creations.
<h3>Features of Sonic Infinity+ Demo 2</h3>
Sonic Infinity+ offers a robust set of features designed to enhance the user experience and expand creative possibilities:
<ul>
 	<li><strong>Enhanced Framework:</strong> Building on the original Sonic Infinity Engine, Infinity+ introduces improvements and bug fixes to provide a smoother development experience.</li>
 	<li><strong>User-Friendly Design:</strong> Tailored for entry-level and experienced developers, the framework allows easy manipulation of levels, gameplay elements, and character designs.</li>
 	<li><strong>Creative Flexibility:</strong> With most of the heavy lifting done, users can dive straight into personalizing their projects, making it an excellent tool for learning and creativity.</li>
</ul>
<center><iframe title="YouTube video player" src="https://www.youtube.com/embed/HP-91spnZ5o?si=1p3dA8PkR5KsATbv" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></center>
<h3>Using Sonic Infinity+ Demo 2</h3>
Currently, the best way to experience this demo is through a Keyboard and Mouse setup. While controller support is in progress, users may find this method to be more reliable due to unresolved bugs with gamepad functionality. Here are some tips for getting started:
<ul>
 	<li><strong>Character Customization:</strong> Before confirming your character selection in the demo, press left or right to toggle through different movesets.</li>
 	<li><strong>Development Tools:</strong> Explore the rich features offered by the Unreal Engine 4-based framework to customize and enhance your game projects.</li>
</ul>
<h4>Current Development and Future Updates</h4>
<strong>The team is actively working on refining Sonic Infinity+ and is aware of the existing bugs in the current demo.</strong> Although updates to this demo version won't be possible until after SAGE, the feedback received will be instrumental in future enhancements. Stay tuned for more updates and improvements post-SAGE, as the team is committed to making the Infinity+ Engine as robust and user-friendly as possible.

Sonic Infinity+ Demo #2 represents not just a tool, but a gateway to the expansive world of game development within the Sonic community. It encourages both novices and seasoned creators to experiment and bring their unique visions to life. Download the demo today to start creating and contributing to the vibrant universe of Sonic fan games, all while enhancing your skills in one of the most powerful game development platforms available.`} />
</BaseLayout>
